body {
    background: white;
}
*{
    font-family: Helvetica;
}

.meet_list {
    list-style-type: none;
}

img{
    max-width: 200px;
    padding:10px;
}

.menu_div{
    width: 80%;
    margin: auto;
    top: 50px;
    position: relative;
}
.home_nav,
.home_nav ul {
    list-style: none;
    margin: 0;
}

.home_nav,
.menu_div {
    font-family: Lato, Helvetica, sans-serif;
    line-height: 1;
    background: #2b2f3a;
}
.home_nav {
    padding: 0;
    display: block;
    width: 100%;
}
.home_nav > li > a,
.menu_div {
    padding: 18px 22px;
    font-size: 18px;
    text-transform: uppercase;
    display: none;
    color: #7a8189;
    cursor: pointer;
}
.home_nav:after {
    content: "";
    display: table;
    clear: both;
}

.home_nav > li{
    float: left;
    display: block;
    position: relative;
}

.home_nav > li > a {
    display: block;
    font-weight: 300;
    text-decoration: none;
}
.home_nav li a:hover {
    color: #fff;
}
.opening_section{
    display: table;
    font-family: Arial;
    position:relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.opening_section .textbox{
    position: relative;
    max-width: 600px;
}
.opening_section .textbox h1{
    color: black;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
}

/*Meeting team*/
.meet_section{
    text-align:center;
}
#meet_title{
    font-size: 200%;

}
.meet_list{
    display: table;
    margin: 0 auto;
}

.meet_zak,.meet_fin,.meet_harry{
    display:inline-block;
    padding: 30px;
    font-size: 150%;
}


footer {
    position: fixed;
    bottom: 0;
    background-color: #2b2f3a;
    color: white;
    width: 100%;
    left: 0px;
}






