*{
    font-family: Helvetica;
}
.ticketContainer {
    text-align: center;
}

p {
    text-align: left;
}


input, select {
	display: inline-block;
	width: 200px;
	margin-bottom: 5px;
	border: 2px solid blue;
	border-radius: 10px;
    height: 35px;
}

select {
    width: 205px;
    height: 40px;
}

#submit {
	margin-top: 30px;
    margin-left: 55px;
    margin-bottom: 20px;
    background-color: blue;
    color: antiquewhite;
    width: auto;
    height: 30px;
    border-radius: 3px;
}

/*notifs, info and pop ups*/
#info {
  font: 1em sans-serif;
  width: 100%;
  padding: 12px 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 12px;
  font-size: 16px;
  background-color: rgba(217, 237, 247, 1);
  color: rgba(49, 112, 143, 1);
  border-color: rgba(126, 182, 193, 1);
}

#credit{
  border-color: rgba(126, 182, 193, 1);
  margin-left: auto;
}
#credit_submit{
  border-color: rgba(126, 182, 193, 1);
  margin-left: auto;
}

#addCreditForm {
  padding: 16px;
	background-color:  rgba(217, 237, 247, 1);
	border-radius: 10px;
  
}
#addCreditContainer {
  margin: auto;
  width: 25%;
  height: 50%;
}
#creditField {
  padding: 16px;
	background-color:  rgba(217, 237, 247, 1);
	border-radius: 10px;
  height: 35px;
  margin: auto;
  width: 50%;
}
.chat_box{
  overflow: auto;
  margin: auto;
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction:column;
}
.chat_box::-webkit-scrollbar {
  display: none;
}
#send_message_box {
  padding: 16px;
	background-color:  rgba(217, 237, 247, 1);
	border-radius: 10px;
  height: 50%;
  margin: auto;
  width: 50%;
}

#message_text_field{
  height: 50%;
  margin: auto;
  width: 100%;
}

.addCreditButton{
  border-color: rgba(126, 182, 193, 1);
  height: 50%;
  margin: auto;
  width: 100%;
}

#send_chat{
  border-color: rgba(126, 182, 193, 1);
  margin-left: auto;
  font: 1em sans-serif;
  
}
#get_users{
  border-color: rgba(126, 182, 193, 1);
  margin-left: auto;
  font: 1em sans-serif;
}
.enter_message_box{
  margin: auto;
}
#messageUserForm{
  padding: 16px;
	background-color:  rgba(217, 237, 247, 1);
	border-radius: 10px;
  height: 35px;
  margin: auto;
  width: 50%;
}
textarea
{
  border:1px solid #999999;
  width:100%;
  margin:5px 0;
  padding:3px;
  resize: none;
  font: 1em sans-serif;
}


/*chat box styles*/

.message-box {
    border: 2px solid rgba(49, 112, 143, 1);
    background-color: rgba(217, 237, 247, 1);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    align-content: right;
    font: 1em sans-serif;
  }
  
  /* Darker chat container */
  .darker {
    font: 1em sans-serif;
    border-color: rgba(49, 112, 143, 1);;
    background-color: rgb(150, 194, 255);
  }
  
  /* Clear floats */
  .message-box::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .message-box img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .message-box img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: rgba(49, 112, 143, 1);
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: rgba(49, 112, 143, 1);
  }

  /* Admin request styles */


  .requests-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.requests-list {
    min-width: 30%;
    list-style: none;
}

.request {
    margin: 0.5rem;
    background: white;
    border: 2px solid black;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.request ul {
    flex: 1;
    list-style: none;
}

.decline-button, .accept-button {
    background-color: red;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.accept-button {
    background: rgb(36, 240, 36);
}

.request-item, .occupiedSpace-item {
    padding: 0rem 0.5rem;
    font-size: 20px;
}

.fa-xmark, .fa-check {
    pointer-events: none;
}

/* admin space gui space selector styles */

.spacePickerContainer {
  perspective: 1000px;
  margin: 40px 0;
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space, .spaceKey {
  background-color: #7CFC00;
  height: 50px;
  width: 50px;
  margin: 5px;

}
.selected, .selectedKey {
  background-color: #0081cb;
}

.occupied, .adminBlock {
  background-color: #D2042D;
}

.driverBlock {
  background-color: #FF8700;
}

.space:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.carparkRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickerKey .space:hover {
  cursor: default;
  transform: scale(1);
}

.pickerKey {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
}

.pickerKey li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0px;
}

.pickerKey li small {
  margin-left: 2px;
  color: black;

}

.button-options {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* login styles */

#loginContainer {
  margin: 0 auto;
  width: 30%;
  border: 3px solid black;
  padding: 10px;
  margin-top: 100px;
}

#email, #password {
  width: 75%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  border: 2px solid black;
}

.loginLabels {
  margin-left: 55px;
  margin-bottom: 5px;
  font-size: 18px;
}

#login {
  width: 75%;
  display: block;
  margin: 0 auto;
  background-color: lawngreen;
  border: 2px solid black;
  margin-top: 10px;
    cursor: pointer;
}
/* register styles */
#regContainer {
    margin: 0 auto;
    width: 30%;
    border: 3px solid black;
    padding: 10px;
    margin-top: 20px;
}
.reg_input {
    width: 75%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border: 2px solid black;
}

#login:hover  {
    transform: scale(1.05) perspective(1px);
}




/* make request styles */

.loginLabels {
  margin-left: 55px;
  margin-bottom: 5px;
  font-size: 18px;
}

#requestForm {
  margin: 0 auto;
  width: 40%;
  border: 2px solid black;
}

#arrivalTime, #departureTime, #location {
  width: 50%;
  display: flex;
  margin: 0 auto;
  border: 2px solid black;
}

.requestFormLabels {
  margin-left: 185px;
  margin-bottom: 5px;
  font-size: 18px;
}

#submit {
  height: 40px;
  width: 50%;
  display: block;
  margin: 0 auto;
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

#AssignSpace, #CancelRequest, #blockSpace, #freeSpace {
  height: 30px;
  width: 100px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;
}
#check_in,#check_out{
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
    border: 2px solid blue;
    border-radius: 10px;
    height: 35px;
}

.all-lists ul{
    list-style-type: none;
    font-size: larger;
}





/*Add parks*/
/* register styles */
#newParkContainer {
    margin: 0 auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    margin-top: 20px;
}
.name_input {
    width: 75%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border: 2px solid black;
}
#parkForm {
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 5px;
    font-size: 18px;
}

#create  {
    width: 75%;
    display: block;
    margin: 0 auto;
    background-color: lawngreen;
    border: 2px solid black;
    margin-top: 20px;
    cursor: pointer;
}
#create:hover  {
    transform: scale(1.05) perspective(1px);
}
#map3{
    height: 500px;
    width: 100%;
}



/* register styles */
.banContainer {
    margin: 0 auto;
    width: 100%;
    border: 3px solid black;
    padding: 10px;
    margin-top: 10px;
}
.ban_class {
    width: 100%;
    display: flex;
    margin: 0 auto;
    left:0px;
}
.banForm {
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}

#ban {
    width: 75%;
    display: block;
    height:30px;
    margin: 0 auto;
    background-color: #e85555;
    border: 2px solid black;
    margin-top: 10px;
    cursor: pointer;
}
#ban:hover  {
    transform: scale(1.05) perspective(1px);
}





.check_container {
    margin: 0 auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    margin-top: 10px;
}
.check_class {
    width: 100%;
    display: flex;
    margin: 0 auto;
    left:0px;
}
.this-list{
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}

#check_out,#check_in  {
    width: 75%;
    height:50px;
    display: block;
    margin: 0 auto;
    font-size: 25px;
    background-color: lawngreen;
    border: 2px solid black;
    margin-top: 10px;
    cursor: pointer;
}
#check_in:hover,#check_out:hover  {
    transform: scale(1.05) perspective(1px);
}
#check_out{
    background-color: #e85555;
}



/*Map styles*/
.routes {
    margin: 0 auto;
    width: 60%;
    border: 3px solid black;
    padding: 10px;
    margin-top: 10px;
}
#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.ban_class {
    width: 100%;
    display: flex;
    margin: 0 auto;
    left:0px;
}
.banForm {
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}

#ban {
    width: 75%;
    display: block;
    height:30px;
    margin: 0 auto;
    background-color: #e85555;
    border: 2px solid black;
    margin-top: 10px;
    cursor: pointer;
}
#ban:hover  {
    transform: scale(1.05) perspective(1px);
}

.carpark-stats {
  font-size: 18px;
  font-weight: bold;
}