
.ticketContainer {
    text-align: center;
}

p {
    text-align: left;
}

label {
	display: inline-block;
    text-align: right;
    width: 150px;
    padding-right: 1px;
	padding-left: 55px;
	margin-bottom: 5px;
}


input, select {
	display: inline-block;
	width: 200px;
	margin-bottom: 5px;
	border: 2px solid blue;
	border-radius: 10px;
    height: 35px;
}

select {
    width: 205px;
    height: 40px;
}

#submit {
	margin-top: 30px;
    margin-left: 55px;
    margin-bottom: 20px;
    background-color: blue;
    color: antiquewhite;
    width: auto;
    height: 30px;
    border-radius: 3px;
}


/*chat box styles*/

.message-box {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .message-box::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .message-box img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .message-box img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

  /* Admin request styles */


  .requests-container, .OccupiedSpaces-Container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.requests-list, .OccupiedSpaces-list {
    min-width: 30%;
    list-style: none;
}

.request, .occupiedSpace {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.request ul, .occupiedSpace ul {
    flex: 1;
    list-style: none;
}

.decline-button, .accept-button {
    background-color: red;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.accept-button {
    background: rgb(36, 240, 36);
}

.request-item, .occupiedSpace-item {
    padding: 0rem 0.5rem;
    font-size: 20px;
}

.fa-xmark, .fa-check {
    pointer-events: none;
}

/* admin space gui space selector styles */

.spacePickerContainer {
  perspective: 1000px;
  margin: 40px 0;
  display: inline;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space, .spaceKey {
  background-color: #7CFC00;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.selected, .selectedKey {
  background-color: #0081cb;
}

.occupied, .adminBlock {
  background-color: #D2042D;
}

.driverBlock {
  background-color: #FF8700;
}

.space:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.carparkRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pickerKey .space:hover {
  cursor: default;
  transform: scale(1);
}

.pickerKey {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background: rgba(0,0,0,0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
}

.pickerKey li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0px;
}

.pickerKey li small {
  margin-left: 2px;
  color: cornsilk;
}

.button-options {
  align-items: center;
  justify-content: center;
  display: flex;
}
