/* Set the size of the div element that contains the map */
#map {
    height: 700px;
    /* The height is 400 pixels */
    width: 50%;
    /* The width is the width of the web page */
}

ul{
    padding: 10px;
}
#incorrect {
    list-style: none;
    width: 40px;
    height: 40px;
    float: left;
    padding: 10px;
    margin-left: 10px;
    background-color: red;
}

#correct{
    list-style: none;
    width: 40px;
    height: 40px;
    float: left;
    padding: 10px;
    margin-left: 10px;
    background-color: green;
}